/*.chart{
    width:50%;
    position: relative;
    float: left;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}*/

.card-2{
    position:relative;
    flex: 1;
    width:95%;
    height:250px;
    margin: 50px;
    padding: 25px;
    border-radius: 10px;
    background-color: #fffaef;
  
}