/*.chart{
    width:50%;
    position: relative;
    float: left;
    margin: 20px;
    padding: 20px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}*/

.card-2{
    position:relative;
    flex: 1;
    max-width:33%;
    height:170px;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid green;
    /*box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
    
}