.row{
    width: 100%;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    float: left;    
}

.card-1{
    position:relative;
    flex: 1;
    max-width:300px;
    height:40px;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #fffaef;
}

.even
{
    background-color: #fffaef;
}

.featuredTitle{
  font-size:22px;
  margin-left: 50px;
  padding-left: 20px;
  margin-right: 10px;
  font-weight: bolder;
}

.featuredNumber{
    font-size: 30px;
    margin-left: 120px;
    margin-right: 20px;
    align-items: center;
    align-content: center;
    margin-bottom: 10px;
}

