/*table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
  }
  
  table td, table th {
    border: 1px solid #ddd;
    padding: 4px;
  }
  
  table tr:nth-child(even){background-color: #f2f2f2;}
  
  table tr:hover {background-color: #ddd;}
  
  table th {
    padding-top: 4px;
    padding-bottom: 4px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
  }*/
  table {
    margin: 0 auto;
  }
  
  /* Default Table Style */
 /* table {
    color: #333;
    background: white;
    border: 1px solid grey;
    font-size: 11.5pt;
    border-collapse: collapse;
    float: center;
  }
  table thead th,
  table tfoot th {
    color: #555;
    background: #8884d8;
  }
  table caption {
    padding:.2em;
  }
  table th,
  table td {
    padding: 0.22em;
    border: 1px solid lightgrey;
  }

  .card-table{
    position:relative;
    flex:2 1 0;
    max-width:60em;
    height:240px;
    margin: 10px;
    padding: 30px;
    border-radius: 10px;      
    background-color: #fffaef; 
}*/


table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
  float: left;
  top:5px;
}
table thead th,
table tfoot th {
  color: #555;
  background: #8884d8;
}
table caption {
  padding:.5em;
}
table th,
table td {
  padding: .3em;
  border: 1px solid lightgrey;
}

.card-table{
  position:relative;
  flex:2 1 0;
  max-width:50%;
  height:240px;
  margin: 10px;
  padding: 30px;
  border-radius: 10px;      
  background-color: #fffaef; 
}