.card-2{
    position:relative;
    flex: 1;
    width:5%;
    height:170px;
    margin: 10px;
    padding: 25px;
    border-radius: 10px;
    background-color: #fffaef;
   /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);*/
    
}